stages:
  - test
  - build

test:
  image: node:18
  stage: test
  script:
    - cd bezkoder-app
    - npm install
    - npm run test

build:
  image: docker:24
  stage: build
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" ./bezkoder-app

deploy_vm:
  stage: deploy
  image: alpine:3.20
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan -p ${DEPLOY_PORT:-22} -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts
  script:
    - ssh -p ${DEPLOY_PORT:-22} "$DEPLOY_USER@$DEPLOY_HOST" "cd '$DEPLOY_PATH/$DEPLOY_COMPOSE_DIR' && git fetch --all && git reset --hard '$CI_COMMIT_SHA' && docker compose up -d --build"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'