stages:
  - test
  - build

test:
  image: node:18
  stage: test
  script:
    - cd bezkoder-app
    - npm install
    - npm test

build:
  image: docker:24
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker build -t "$CI_PROJECT_NAME:$CI_COMMIT_TAG" ./bezkoder-app
